body {
  margin: 0;
  padding: 0;

  #root {
    background: #d6e4e1;

    .content-holder {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding: 20px;
        margin-top: 4px;
      }
    }
  }

}
