<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odoo</title>
    <style type="text/css">
        .content {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <div class="content">
        <button class="room" room="room_1">Room 1</button>
        <button class="room" room="room_2">Room 2</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/client.js"></script>
</body>
</html>